
@{
    ViewBag.Title = "Feedback";

}

<div class="jumbotron">
    <h1>CPPE History Test</h1>

    <br />
</div>

<div class="panel panel-default">

    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <p>Unfortunately you have failed this section and at the moment you haven't come close to passing this assessment. </p>
            </div>
        </div>
        <div class="row">
              
            <div class="col-md-12">
                <div class="alert alert-danger">
                    <p>Your mark for this section is: <strong>30%</strong></p>
                    <p>The pass mark for this section is around: <strong>80%</strong></p>
                    <p><strong>
    You took 0 minutes to complete this section.
</strong> We estimated that this section would take 20 minutes. Did you give yourself long enough to read each question carefully and in full? We find that people who complete sections in very short times are more likely to fail as they have not read the questions properly.
                    </p>
                       
                </div>
            </div>
                
        </div> 
         
        <div class="row">

            
            <div class="col-md-12">
                <p>There are some questions where you performed well. These were looking at:</p>
                <div class="alert alert-success">
                    <ul class="list-group">
                        <li class="list-group-item">Your ability to identify and manage common drug interactions seen with HAART.</li>
                        <li class="list-group-item">Your knowledge of the recommendations on the initiation of TB and HIV treatments.</li>
                        <li class="list-group-item">Your knowledge of the risk of blood-blood transmission of HIV and the immediate actions that should be taken if exposed.</li>
                    </ul>

                </div>
            </div>
            <div class="col-md-12">
                <p>Looking at the questions you answered incorrectly, we think you would benefit from:</p>
                <div class="alert alert-info">
                    <ul class="list-group">
                        <li class="list-group-item">Finding out more about the role of HIV viral load measurement in monitoring patients.</li>
                        <li class="list-group-item">Reviewing the early presentation of HIV infection.</li>
                        <li class="list-group-item">Reconsidering how the early side-effects of HAART may be managed.</li>
                        <li class="list-group-item">Improving your understanding of the link between CD4 count and the risk of HIV-related opportunistic infections.</li>
                        <li class="list-group-item">Revising the guidelines on the prophylaxis of opportunistic infections in patients with non-Hodgkins lymphoma.</li>
                        <li class="list-group-item">Revising the guidance on HIV treatment during pregnancy.</li>
                        <li class="list-group-item">Reconsidering how you would handle potentially missed doses of antiretroviral treatment.</li>
                    </ul>

                </div>
            </div>
            <div class="col-md-12">
                <p>If we've told you that you're answering a particular element both correctly and incorrectly, then that shows that it's a topic where you're not answering consistently. We'd suggest that this is a learning need as well. We have emailed you this feedback report to help you prepare for your next attempt.</p>

                <p>When you attempt this section again, we'll ask you what learning you undertook to meet these development needs. We'll use this to help you if you get in touch. If you have failed this section more than three times, then you may wish to contact us for some guidance and direction (please use info@cppe.ac.uk).</p>

            </div>
        </div>
        </div>
    <div class="panel-footer">
        <div class="row">

            <div class="col-md-1 col-md-offset-9 col-xs-2">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-print"></span> Print feedback</button>


            </div>
            <div class="col-md-1 col-md-offset-1 col-xs-offset-8 col-xs-2">
                <a href="/home/" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Exit</a>
            </div>
        </div>
    </div>

</div>



