@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CPPE History Test</h1>
    <p class="lead">We have prepared this assessment to test your knowledge on the history of CPPE.</p>
    <button type="button" class="btn btn-success btn-sm hidden-sm hidden-md hidden-lg"><span class="glyphicon glyphicon-education"></span> Download certificate</button>
    <button type="button" class="btn btn-primary btn-lg hidden-xs" data-toggle="collapse" data-target="#Preptopass" aria-expanded="false" aria-controls="collapseExample">Prepare to pass</button>
    <button type="button" class="btn btn-primary btn-sm hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#Preptopass" aria-expanded="false" aria-controls="collapseExample">Prepare to pass</button>
    <button type="button" class="btn btn-success btn-lg hidden-xs"><span class="glyphicon glyphicon-education"></span> Download certificate</button>
    
    <div class="collapse" id="Preptopass">
        <div class="well">
            <p>The <a href="https://www.cppe.ac.uk/about-cppe/about-cppe" target="_blank">About CPPE</a> section of the CPPE website contains everything you need to know to pass this assessment.</p>
        </div>
    </div>
    <br />
</div>

<div class="row">

    <div class="col-md-12">

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="Assess-panel">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3>Section 1</h3></div>

                        <div class="alert alert-success no-round-corners" role="alert">
                            <h4><span class="glyphicon glyphicon-ok"></span> Passed</h4>


                        </div>
                        <div class="panel-body">
                            <p>In this section we consider the issues relating to selecting the most appropriate contraceptive for an individual, the most effective way to commence therapy in order to achieve contraceptive cover and key issues with regards to using contraceptive methods.</p>
                            <div class="list-group voffset-top-20">
                                <p href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-pencil"></span> Type <span class="badge">Multiple choice</span>
                                </p>
                                <p href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-list"></span> Questions <span class="badge">12</span>
                                </p>
                                <p href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-time"></span> Time allowed <span class="badge">30 minutes</span>
                                </p>
                            </div>

                            <a href="#section1" data-toggle="collapse"> Your attempts <span class="badge">3</span></a>

                            <div id="section1" class="collapse">
                                <ul>
                                    <li>
                                        20/06/2016 16:04 - Pass
                                    </li>
                                    <li>
                                        10/02/2016 22:46 - Incomplete
                                    </li>
                                    <li>
                                        14/12/2015 10:11 - Unsuccessful
                                    </li>
                                </ul>
                            </div>
                        </div>

                       


                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="Assess-panel">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3>Section 2</h3></div>
                        <div class="alert alert-info no-round-corners" role="alert">
                            <a href="/home/MCQ" type="button" class="btn btn-primary">Attempt now  &raquo;</a>
                        </div>
                        <div class="panel-body">


                            <p>In this section we consider the support and advice that you give to those people who access contraception and advice from your pharmacy practice.</p>
                            <p>We will be testing your knowledge of missed pill advice, contraindications to contraceptives, drug interactions, planned surgery and termination of pregnancy</p>
                            <div class="list-group voffset-top-20">
                                <a href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-pencil"></span> Type <span class="badge">Multiple choice</span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-list"></span> Questions <span class="badge">12</span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-time"></span> Time allowed <span class="badge">30 minutes</span>
                                </a>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="Assess-panel">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3>Section 3</h3></div>
                        <div class="alert alert-warning no-round-corners" role="alert">
                            <h4><span class="glyphicon glyphicon-lock"></span> Locked</h4>
                            <p>This section will unlock for re-attempting at <b>14:53</b>.</p>
                        </div>
                        <div class="panel-body">
                            <p>In this section we consider contraindications to contraceptives, drug interactions, planned surgery and termination of pregnancy</p>

                            <div class="list-group voffset-top-20">
                                <a href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-pencil"></span> Type <span class="badge">Multiple choice</span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-list"></span> Questions <span class="badge">12</span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-time"></span> Time allowed <span class="badge">30 minutes</span>
                                </a>
                            </div>
                            <a href="#section2" data-toggle="collapse"> Your attempts <span class="badge">1</span></a>

                            <div id="section2" class="collapse">
                                <ul>

                                    <li>
                                        10/08/2016 10:11 - Unsuccessful
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>




                </div>
            </div>
        <div class="clearfix visible-md-block visible-lg-block"></div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="Assess-panel">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3>Section 4</h3></div>
                        <div class="alert alert-info no-round-corners" role="alert">
                            <a href="/home/Essay" type="button" class="btn btn-primary">Submit now  &raquo;</a>
                        </div>
                        <div class="panel-body">

                            <p>You’ve completed our guide on ‘Assertiveness’</p>

                            <p>Consider an area of your professional life in which you would like to be more assertive.</p>

                            <p>Write a reflective piece which describes your planned application of basic assertive techniques to your personal situation. Critique the different techniques and explain which technique you are going to implement first and why you have chosen this. Discuss how this technique applies and how you would use it. Describe how you would evaluate whether your approach had been successful. This could include feedback from your mentor or others, or describing a situation in which you have applied techniques to get a better outcome for yourself.</p>
                            <div class="list-group voffset-top-20">
                                <p href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-pencil"></span> Type <span class="badge">Essay question</span>
                                </p>
                                <p href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-list"></span> Questions <span class="badge">1</span>
                                </p>
                                <p href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-edit"></span> Recommended length <span class="badge">500 words</span>
                                </p>
                                <p href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Max length <span class="badge">800 words</span>
                                </p>
                            </div>

                            <a href="#section4" data-toggle="collapse"> Your attempts <span class="badge">1</span></a>

                            <div id="section4" class="collapse">
                                <ul>
                                    <li>
                                        20/06/2016 16:04 - Unsuccessful - <a href="/home/feedback">view feedback</a>
                                    </li>
                                    
                                </ul>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="Assess-panel">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3>Section 5</h3></div>
                        <div class="alert alert-warning no-round-corners" role="alert">
                            <h4><span class="glyphicon glyphicon-pencil"></span> Submitted</h4>
                            <p>We aim to have your essay marked by <b>20/09/2016</b>.</p>
                        </div>
                        <div class="panel-body">


                            <p>In this section we consider the support and advice that you give to those people who access contraception and advice from your pharmacy practice.</p>
                            <p>Write a reflective piece which describes your planned application of basic assertive techniques to your personal situation. Critique the different techniques and explain which technique you are going to implement first and why you have chosen this. Discuss how this technique applies and how you would use it. Describe how you would evaluate whether your approach had been successful. </p>
                            <div class="list-group voffset-top-20">
                                <p href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-pencil"></span> Type <span class="badge">Essay question</span>
                                </p>
                                <p href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-list"></span> Questions <span class="badge">1</span>
                                </p>
                                <p href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-edit"></span> Recommended length <span class="badge">500 words</span>
                                </p>
                                <p href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Max length <span class="badge">800 words</span>
                                </p>
                            </div>
                            <a href="/home/feedbackdashboard" class="btn btn-primary">Marking dashboard</a>
                            



                        </div>
                    </div>
                </div>
            </div>
     
    </div>
</div>

