@{
    ViewBag.Title = "Mark";
}
<div class="jumbotron">
    <h1>CPPE mark essay</h1>
    <br />
</div>


<div class="row">

    <div class="col-md-12">
        <h3>Assessment details</h3>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">CPPE History Test</div>
    <div class="panel-body">
        <p><b>Consider an area of your professional life in which you would like to be more assertive.</b></p>

        <p>Write a reflective piece which describes your planned application of basic assertive techniques to your personal situation. Critique the different techniques and explain which technique you are going to implement first and why you have chosen this. Discuss how this technique applies and how you would use it. Describe how you would evaluate whether your approach had been successful. This could include feedback from your mentor or others, or describing a situation in which you have applied techniques to get a better outcome for yourself.</p>

        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#instructions" aria-expanded="false" aria-controls="instructions">
            Instructions for marking &raquo;
        </button>
        <div id="instructions" class="collapse well">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-12">
        <h3>
            User submission <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#user" aria-expanded="false" aria-controls="instructions">
                Show user details &raquo;
            </button>
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#previous-attempts" aria-expanded="false" aria-controls="instructions">
                Show previous attempts &raquo;
            </button>
        </h3>
        <div class="row">
            <div id="user" class="collapse col-md-4">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        Name <span class="badge">Michael Bridges</span>
                    </a>
                    <a href="#" class="list-group-item">
                        Attempt number <span class="badge">3</span>
                    </a>
                    <a href="#" class="list-group-item">
                        Date submitted <span class="badge">12/10/2016</span>
                    </a>
                </div>
            </div>
        </div>

        <div id="previous-attempts" class="well collapse">
            <div class="row">
                <div class="col-md-12">
                    <h4>Attempt 1 01/04/2016</h4>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">User submission</div>
                            <div class="panel-body">
                                <p>Meatloaf swine short loin, landjaeger pancetta cow strip steak sausage pork belly jerky tail ham. Ground round t-bone chicken corned beef fatback pig short loin ham hock venison tail swine ribeye strip steak filet mignon. Tri-tip pig ribeye pork, corned beef kielbasa salami ham chuck cupim sirloin pork belly. Picanha flank ball tip, leberkas pig cupim spare ribs chuck capicola swine filet mignon shoulder.</p>

                                <p>Ground round tongue turducken meatball doner sirloin. Pork belly bresaola t-bone strip steak tenderloin, tri-tip short loin ball tip jerky tail pork loin kielbasa. Prosciutto leberkas sirloin beef. Bacon jowl t-bone bresaola ham flank drumstick kielbasa. Capicola ball tip corned beef cow meatloaf kielbasa, chuck meatball pork loin flank.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Feedback</div>
                            <div class="panel-body">
                                <p>Meatloaf swine short loin, landjaeger pancetta cow strip steak sausage pork belly jerky tail ham. Ground round t-bone chicken corned beef fatback pig short loin ham hock venison tail swine ribeye strip steak filet mignon. Tri-tip pig ribeye pork, corned beef kielbasa salami ham chuck cupim sirloin pork belly. Picanha flank ball tip, leberkas pig cupim spare ribs chuck capicola swine filet mignon shoulder.</p>

                                <p>Ground round tongue turducken meatball doner sirloin. Pork belly bresaola t-bone strip steak tenderloin, tri-tip short loin ball tip jerky tail pork loin kielbasa. Prosciutto leberkas sirloin beef. Bacon jowl t-bone bresaola ham flank drumstick kielbasa. Capicola ball tip corned beef cow meatloaf kielbasa, chuck meatball pork loin flank.</p>
                            </div>
                        </div>
                    </div>
                    <h4>Attempt 2 24/07/2016</h4>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">User submission</div>
                            <div class="panel-body">
                                <p>Meatloaf swine short loin, landjaeger pancetta cow strip steak sausage pork belly jerky tail ham. Ground round t-bone chicken corned beef fatback pig short loin ham hock venison tail swine ribeye strip steak filet mignon. Tri-tip pig ribeye pork, corned beef kielbasa salami ham chuck cupim sirloin pork belly. Picanha flank ball tip, leberkas pig cupim spare ribs chuck capicola swine filet mignon shoulder.</p>

                                <p>Ground round tongue turducken meatball doner sirloin. Pork belly bresaola t-bone strip steak tenderloin, tri-tip short loin ball tip jerky tail pork loin kielbasa. Prosciutto leberkas sirloin beef. Bacon jowl t-bone bresaola ham flank drumstick kielbasa. Capicola ball tip corned beef cow meatloaf kielbasa, chuck meatball pork loin flank.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Feedback</div>
                            <div class="panel-body">
                                <p>Meatloaf swine short loin, landjaeger pancetta cow strip steak sausage pork belly jerky tail ham. Ground round t-bone chicken corned beef fatback pig short loin ham hock venison tail swine ribeye strip steak filet mignon. Tri-tip pig ribeye pork, corned beef kielbasa salami ham chuck cupim sirloin pork belly. Picanha flank ball tip, leberkas pig cupim spare ribs chuck capicola swine filet mignon shoulder.</p>

                                <p>Ground round tongue turducken meatball doner sirloin. Pork belly bresaola t-bone strip steak tenderloin, tri-tip short loin ball tip jerky tail pork loin kielbasa. Prosciutto leberkas sirloin beef. Bacon jowl t-bone bresaola ham flank drumstick kielbasa. Capicola ball tip corned beef cow meatloaf kielbasa, chuck meatball pork loin flank.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

  <div class="well">
            <h4>Attempt 3 25/08/2016</h4>
            <p>Pig hamburger short ribs, rump swine ribeye beef ribs flank cow pork loin frankfurter fatback doner. Chicken spare ribs t-bone pig rump ribeye swine doner flank shoulder tenderloin bresaola shank kevin pork belly. Tail sirloin cupim ham. Cupim hamburger drumstick, shankle chicken turkey leberkas kielbasa. Jowl pig short ribs flank. Ball tip pancetta picanha venison meatloaf turducken. Tongue picanha jerky pig doner brisket pastrami chuck ribeye short ribs tail ham hock tri-tip landjaeger.</p>

            <p>Meatloaf swine short loin, landjaeger pancetta cow strip steak sausage pork belly jerky tail ham. Ground round t-bone chicken corned beef fatback pig short loin ham hock venison tail swine ribeye strip steak filet mignon. Tri-tip pig ribeye pork, corned beef kielbasa salami ham chuck cupim sirloin pork belly. Picanha flank ball tip, leberkas pig cupim spare ribs chuck capicola swine filet mignon shoulder.</p>

            <p>Ground round tongue turducken meatball doner sirloin. Pork belly bresaola t-bone strip steak tenderloin, tri-tip short loin ball tip jerky tail pork loin kielbasa. Prosciutto leberkas sirloin beef. Bacon jowl t-bone bresaola ham flank drumstick kielbasa. Capicola ball tip corned beef cow meatloaf kielbasa, chuck meatball pork loin flank.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <h3>
            Provide feedback
        </h3>
        <div class="row">
            <div class="col-md-6 col-md-push-6">

                <h4>
                    Rubrics <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#about-rubrics" aria-expanded="false" aria-controls="collapse">
                        Using rubrics &raquo;
                    </button>
                </h4>
                <div class="row">
                    <div id="about-rubrics" class="collapse well">
                        <p>Rubrics are pre-written sentences used to provide feedback. Selecting a rubric will add it to the feedback, de-selecting will not remove it, you must manually delete a rubric once it has been added.</p>
                    </div>
                </div>

                <div id="Tab">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#1" data-toggle="tab">Standard</a>
                        </li>
                        <li>
                            <a href="#2" data-toggle="tab">Specific</a>
                        </li>

                    </ul>

                    <div class="tab-content ">
                        <div class="tab-pane active" id="1">
                            <!--assessment-group-->
                            <div class="row form-group radio-hide-group assessment-group voffset-top-20">

                                <div class="col-md-12">

                                    <input type="checkbox" class="assessment-rubric-chkbx" id="checkbox1" name="checkbox1" value="Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.">
                                    <label for="checkbox1" class="btn btn-default btn-block assessment-radio">Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.</label>

                                    <input type="checkbox" class="assessment-rubric-chkbx" id="checkbox2" name="checkbox1" value="Sea lettuce lettuce water chestnut eggplant winter purslane fennel azuki bean earthnut pea sierra leone bologi leek soko chicory celtuce parsley.">
                                    <label for="checkbox2" class="btn btn-default btn-block assessment-radio">Sea lettuce lettuce water chestnut eggplant winter purslane fennel azuki bean earthnut pea sierra leone bologi leek soko chicory celtuce parsley.</label>

                                    <input type="checkbox" class="assessment-rubric-chkbx" id="checkbox3" name="checkbox1" value="Celery quandong swiss chard chicory earthnut pea potato. Salsify taro catsear garlic gram celery bitterleaf wattle seed collard greens nori. Grape wattle seed kombu beetroot horseradish carrot squash brussels sprout chard.">
                                    <label for="checkbox3" class="btn btn-default btn-block assessment-radio">Celery quandong swiss chard chicory earthnut pea potato. Salsify taro catsear garlic gram celery bitterleaf wattle seed collard greens nori. Grape wattle seed kombu beetroot horseradish carrot squash brussels sprout chard.</label>

                                    <input type="checkbox" class="assessment-rubric-chkbx" id="checkbox4" name="checkbox1" value="Pea horseradish azuki bean lettuce avocado asparagus okra. Kohlrabi radish okra azuki bean corn fava bean mustard tigernut.">
                                    <label for="checkbox4" class="btn btn-default btn-block assessment-radio">Pea horseradish azuki bean lettuce avocado asparagus okra. Kohlrabi radish okra azuki bean corn fava bean mustard tigernut.</label>


                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="2">
                            <div class="row form-group radio-hide-group assessment-group voffset-top-20">
                                <div class="col-md-12">

                                    <input type="checkbox" class="assessment-rubric-chkbx" id="checkbox21" name="checkbox2" value="Beetroot water spinach okra water chestnut ricebean pea catsear courgette summer purslane. ">
                                    <label for="checkbox21" class="btn btn-default btn-block assessment-radio">Beetroot water spinach okra water chestnut ricebean pea catsear courgette summer purslane. </label>

                                    <input type="checkbox" class="assessment-rubric-chkbx" id="checkbox22" name="checkbox2" value="Water spinach arugula pea tatsoi aubergine spring onion bush tomato kale radicchio turnip chicory salsify pea sprouts fava bean.">
                                    <label for="checkbox22" class="btn btn-default btn-block assessment-radio">Water spinach arugula pea tatsoi aubergine spring onion bush tomato kale radicchio turnip chicory salsify pea sprouts fava bean.</label>

                                    <input type="checkbox" class="assessment-rubric-chkbx" id="checkbox23" name="checkbox2" value="Soko radicchio bunya nuts gram dulse silver beet parsnip napa cabbage lotus root sea lettuce brussels sprout cabbage. Catsear cauliflower garbanzo yarrow salsify chicory garlic bell pepper napa cabbage lettuce tomato kale arugula melon sierra leone bologi rutabaga tigernut.">
                                    <label for="checkbox23" class="btn btn-default btn-block assessment-radio">Soko radicchio bunya nuts gram dulse silver beet parsnip napa cabbage lotus root sea lettuce brussels sprout cabbage. Catsear cauliflower garbanzo yarrow salsify chicory garlic bell pepper napa cabbage lettuce tomato kale arugula melon sierra leone bologi rutabaga tigernut.</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



            </div>
            <div class="col-md-6 col-md-pull-6">
                <h4>
                    User Feedback
                </h4>
                <textarea class="form-control" rows="20" style="min-width:100%;" id="feedbackTextarea" placeholder="Start typing or use the rubrics..."></textarea>
                <div class="row voffset-top-20">
                    <div class="col-md-12">
                        <a href="/home/feedbackdashboard" class="col-md-2 col-md-offset-1 col-xs-3 btn btn-success">Pass</a>
                        <a href="/home/feedbackdashboard" class="col-md-2 col-md-offset-6 col-xs-3 col-xs-offset-6 btn btn-danger">Fail</a>

                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

