@{
    ViewBag.Title = "Multiple choice question";
}
<script type="text/javascript">
    $('input.assessment-radio').change(function () {
        if ($(this).prop('checked')) {
            $('input.form-radio').parent('label').removeClass('checked')
            $(this).parent('label').addClass('checked');
        }
    }).change();</script>


<div class="jumbotron">
    <h1>CPPE History Test</h1>
    <h2>Section 2</h2>


    <br />
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-8">
            <div class="alert alert-info" id="mcq-timer"><p>Time remaining: <span id="mcq-clock-static">40:00</span><span id="mcq-clock" style="display:none;"><span class="minutes"></span>:<span class="seconds"></span></span></p></div>
        </div>
    </div>
</div>
<div class="panel panel-default assessment-intro-panel" id="intro">
    <div class="panel-header">

    </div>
    <div class="panel-body" id="assess">
        <div class="row">
            <div class="col-md-6">
                <p>You have 30 minutes to answer 15 multiple choice questions. Each question has five possible answers. Choose the most appropriate response (the one that fits the best) and then click next. You can move backwards and forwards through the questions before submitting the assessment at the end.</p>
                <p>Top tips</p>
                <ul>
                    <li>Keep a copy of the distance learning to hand</li>
                    <li>There may be more than one appropriate answer, choose the most suitable response</li>
                    <li>Keep an eye on the timer in the top right corner</li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="list-group">
                    <p class="list-group-item">By clicking the "Begin" button below you signify that you are the same individual as the "Logged in as" details say</p>
                    <p class="list-group-item">You are now under examination conditions.</p>
                    <p class="list-group-item">If you fail to complete this section, for any reason, you will not be permitted to re-attempt until a period of 20 hours have elapsed.</p>
                    <p class="list-group-item">Your assessment time for this section starts when you press the "Begin" button.</p>
                </div>



                <p><b>Are you ready?</b></p>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">

            <div class="col-md-1 col-md-offset-11 col-xs-2"><button class="btn btn-success btn-assessment-start" id="1" onclick="startClock()">Begin</button></div>
        </div>
    </div>
</div>


<div class="panel panel-default assessment-question-panel" id="Q1" style="display:none;">
    <div class="panel-body" id="assess">
        <div class="row">
            <div class="col-md-12">
                <h2>Question 1 - select one</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

                <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts nori azuki bean chickweed potato bell pepper artichoke.</p>

            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="row form-group radio-hide-group assessment-group">

                        <input type="radio" id="radio11" name="radios1" value="all">
                        <label for="radio11" class="btn btn-default btn-block assessment-radio">Option 1</label>

                        <input type="radio" id="radio12" name="radios1" value="false">
                        <label for="radio12" class="btn btn-default btn-block  assessment-radio">Option 2</label>

                        <input type="radio" id="radio13" name="radios1" value="true">
                        <label for="radio13" class="btn btn-default btn-block  assessment-radio">Option 3</label>

                        <input type="radio" id="radio14" name="radios1" value="true">
                        <label for="radio14" class="btn btn-default btn-block assessment-radio">Option 4</label>

                        <input type="radio" id="radio15" name="radios1" value="true">
                        <label for="radio15" class="btn btn-default btn-block assessment-radio">Option 5</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-1 col-md-offset-11 col-xs-2 col-xs-offset-10"><button class="btn btn-primary btn-assessment-toggle" id="2">Next</button></div>
        </div>
    </div>
</div>


<div class="panel panel-default assessment-question-panel" id="Q2" style="display:none;">
    <div class="panel-body" id="assess">
        <div class="row">
            <div class="col-md-12">
                <h2>Question 2 - select many</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

                <p>Disrupt jean shorts viral hella meh, plaid cupidatat magna art party. Echo Park adipisicing literally narwhal. Williamsburg leggings church-key, craft beer forage cornhole jean shorts blue bottle pariatur. Officia sapiente bespoke, locavore plaid cray voluptate deep v ex vinyl tote bag chillwave swag occaecat. Sed banh mi 3 wolf moon single-origin coffee quis tempor. Hoodie pitchfork pork belly aliqua, shabby chic elit consequat freegan ethical try-hard mixtape. Schlitz banjo deep v ullamco blog, umami nulla sint elit skateboard Godard odio.</p>

            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="row form-group radio-hide-group assessment-group">

                        <input type="checkbox" id="checkbox21" name="checkbox2" value="all">
                        <label for="checkbox21" class="btn btn-default btn-block assessment-radio">Option 1</label>

                        <input type="checkbox" id="checkbox22" name="checkbox2" value="false">
                        <label for="checkbox22" class="btn btn-default btn-block assessment-radio">Option 2</label>

                        <input type="checkbox" id="checkbox23" name="checkbox2" value="true">
                        <label for="checkbox23" class="btn btn-default btn-block assessment-radio">Option 3</label>

                        <input type="checkbox" id="checkbox24" name="checkbox2" value="true">
                        <label for="checkbox24" class="btn btn-default btn-block assessment-radio">Option 4</label>

                        <input type="checkbox" id="checkbox25" name="checkbox2" value="true">
                        <label for="checkbox25" class="btn btn-default btn-block assessment-radio">Option 5</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-1 col-md-offset-1 col-xs-2">
                <button class="btn btn-primary btn-assessment-toggle" id="1">Previous</button>
            </div>
            <div class="col-md-1 col-md-offset-9  col-xs-2 col-xs-offset-8">
                <button class="btn btn-primary btn-assessment-toggle" id="3">Next</button>
            </div>
        </div>
    </div>
</div>


<div class="panel panel-default assessment-question-panel" id="Q3" style="display:none;">
    <div class="panel-body" id="assess">
        <div class="row">
            <div class="col-md-12">
                <h2>Question 3 - image</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <img src="~/Content/share-kidney-failure.jpg" class="img-responsive img-thumbnail" />
            </div>
        </div>

        <div class="row voffset-top-20">
            <div class="col-md-6">

                <p>Disrupt jean shorts viral hella meh, plaid cupidatat magna art party. Echo Park adipisicing literally narwhal. Williamsburg leggings church-key, craft beer forage cornhole jean shorts blue bottle pariatur. Officia sapiente bespoke, locavore plaid cray voluptate deep v ex vinyl tote bag chillwave swag occaecat. Sed banh mi 3 wolf moon single-origin coffee quis tempor. Hoodie pitchfork pork belly aliqua, shabby chic elit consequat freegan ethical try-hard mixtape. Schlitz banjo deep v ullamco blog, umami nulla sint elit skateboard Godard odio.</p>

            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="row form-group radio-hide-group assessment-group">

                        <input type="radio" id="radio31" name="radios3" value="all">
                        <label for="radio31" class="btn btn-default btn-block assessment-radio">Option 1</label>

                        <input type="radio" id="radio32" name="radios3" value="false">
                        <label for="radio32" class="btn btn-default btn-block assessment-radio">Option 2</label>

                        <input type="radio" id="radio33" name="radios3" value="true">
                        <label for="radio33" class="btn btn-default btn-block assessment-radio">Option 3</label>

                        <input type="radio" id="radio34" name="radios3" value="true">
                        <label for="radio34" class="btn btn-default btn-block assessment-radio">Option 4</label>

                        <input type="radio" id="radio35" name="radios3" value="true">
                        <label for="radio35" class="btn btn-default btn-block assessment-radio">Option 5</label>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-1 col-md-offset-1 col-xs-2">
                <button class="btn btn-primary btn-assessment-toggle" id="2">Previous</button>
            </div>
            <div class="col-md-1 col-md-offset-9 col-xs-2 col-xs-offset-8">
                <button class="btn btn-primary btn-assessment-toggle" id="4">Next</button>

            </div>
        </div>
    </div>
</div>


<div class="panel panel-default assessment-question-panel" id="Q4" style="display:none;">
    <div class="panel-body" id="assess">
        <div class="row">
            <div class="col-md-12">
                <h2>Question 4 - video</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <div class="row">
                    <div class="col-md-12">
                        <div class="thumbnail">
                            <div class="embed-responsive embed-responsive-4by3">
                                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/173910276" webkitallowfullscreen mozallowfullscreen allowfullscreen style="min-width:100%;"></iframe>
                            </div>
                        </div>
                    </div>

                </div>




            </div>
        </div>

        <div class="row voffset-top-20">
            <div class="col-md-6">

                <p>Disrupt jean shorts viral hella meh, plaid cupidatat magna art party. Echo Park adipisicing literally narwhal. Williamsburg leggings church-key, craft beer forage cornhole jean shorts blue bottle pariatur. Officia sapiente bespoke, locavore plaid cray voluptate deep v ex vinyl tote bag chillwave swag occaecat. Sed banh mi 3 wolf moon single-origin coffee quis tempor. Hoodie pitchfork pork belly aliqua, shabby chic elit consequat freegan ethical try-hard mixtape. Schlitz banjo deep v ullamco blog, umami nulla sint elit skateboard Godard odio.</p>

            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="row form-group radio-hide-group assessment-group">

                        <input type="radio" id="radio41" name="radios4" value="all">
                        <label for="radio41" class="btn btn-default btn-block assessment-radio">Option 1</label>

                        <input type="radio" id="radio42" name="radios4" value="false">
                        <label for="radio42" class="btn btn-default btn-block assessment-radio">Option 2</label>

                        <input type="radio" id="radio43" name="radios4" value="true">
                        <label for="radio43" class="btn btn-default btn-block assessment-radio">Option 3</label>

                        <input type="radio" id="radio44" name="radios4" value="true">
                        <label for="radio44" class="btn btn-default btn-block assessment-radio">Option 4</label>

                        <input type="radio" id="radio45" name="radios4" value="true">
                        <label for="radio45" class="btn btn-default btn-block assessment-radio">Option 5</label>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-1 col-md-offset-1 col-xs-2">
                <button class="btn btn-primary btn-assessment-toggle" id="3">Previous</button>
            </div>
            <div class="col-md-1 col-md-offset-9 col-xs-2 col-xs-offset-8">
                <a href="/home/feedback" class="btn btn-success">Finish</a>
            </div>
        </div>
    </div>
</div>



<div style="display:none;">
    <div class="col-md-1 col-md-offset-9"><button class="btn btn-success btn-assessment-reset btn-demo-hideme">Show all</button></div>
    <div class="col-md-1 col-md-offset-1"><button class="btn btn-success btn-assessment-demo btn-demo-hideme">Demo</button></div>
</div>