body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.assess-panel {
    margin:5px 5px;

}

.no-round-corners {
      -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.voffset-top-20 {
    margin-top:20px;
}

.assessment-group input[type="radio"], .assessment-group input[type="checkbox"] {
    display:none; 
}

.assessment-group input {
    display: inline-block;
    
}

.assessment-group label {
    margin-bottom:10px;
    white-space: normal;
    text-align:left;

}

.assessment-group input[type="radio"]:checked + label, .assessment-group input[type="checkbox"]:checked + label { 
    background-color:#004988;
    color:white;
}

/*----------Feedback smiley faces-----------*/
.feedback-smileys input[type="radio"] {
    display:none; 
}

.feedback-smileys label {
  padding:8px;
  transition: all .2s ease-in-out;
}

.feedback-smileys label:hover {
   transform: scale(1.1);
   cursor:pointer;
    
}

.feedback-smileys input[type="radio"]:checked + label { 
    transform: scale(1.4);
}

.panel {
border-radius:0px!important;	
}

.panel-heading {
border-top-left-radius: 0px;
border-top-right-radius: 0px;
background-color:RGBA(0,73,143,0.1)!important;

}

.panel-footer {

background-color:RGBA(0,73,143,0.1)!important;

}

.panel-heading h1,.panel-heading  h2,.panel-heading  h3,.panel-heading  h4 {
	color:#004988!important;
}
.panel-heading  p {
color:#666666!important;
}


.jumbotron {
border-radius:0px!important;	
background-color:#004988!important;
color:white!important;

}

.well {
border-radius:0px!important;	
color:#004988!important;

}

.well p {
font-size:14px;

}